:root {
  --c1: #eae7dc;
  --c2: #d8c3a5;
  --c3: #8e8d8a;
  --c4: #e98074;
  --c5: #e85a4f;

  background: var(--c2);
  overflow-x: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
}

p {
  font-size: 120%;
}
.App {
}

.footer {
  text-align: center;
  height: 5vh;
}

.hide {
  display: none;
}

.comment_list {
  display: show;
}

.comment_form {
  display: grid;
  flex-direction: column;
}

.align-right {
  text-align: right;
}

.epigraph {
  padding-left: 10%;
  color: #666;
  display: flex;
  flex-direction: column;
}

/* A link that has not been visited */
a:link {
  color: var(--main-text-color);
}

/* A link that has been visited */
a:visited {
  color: var(--main-text-color);
}

/* A link that is hovered on */
a:hover {
  color: var(--main-text-color);
  transition: all 0.5s ease-out;
}

/* A link that is selected */
a:active {
  color: var(--main-text-color);
}

.blog {
  margin: auto;
  max-width: 50vw;
}

.blog-wrapper {
  display: flex;
}

.home-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.home {
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  flex: 1 0 auto;
}

.socials {
  font-size: 75%;
  height: 5vh;
  flex-shrink: 0;
  text-align: center;
  background-color: var(--c4);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.title-card {
  background: var(--c4);
  height: 10vh;

  display: flex;
}

.title-card .name {
  text-align: left;
  width: 75vw;
  margin-bottom: -5vh;
  margin-top: 5vh;
  margin-left: 25vw;
  padding-left: 1em;
  padding-bottom: 10vh;
  background: var(--c1);
  /* border-style: solid;
  border-right-style: none;
  border-width: 2px;
  border-color: var(--c4); */
}

.effect3 {
  position: relative;
}
.effect3:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: var(--c3);
  -webkit-box-shadow: 0 15px 10px var(--c3);
  -moz-box-shadow: 0 15px 10px var(--c3);
  box-shadow: 0 15px 10px var(--c3);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.home-content {
  text-align: left;
  margin-top: 20vh;
  width: 50vw;

  padding: 2em;
  margin-bottom: 5vh;
  margin-right: 10vw;
  background: var(--c1);

  box-shadow: 0 10px 2px -5px var(--c3);
}

.home-content:hover {
  box-shadow: 0 10px 2px -5px var(--c5);
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.01);
}

.socials .icons {
  margin: auto;
  margin-top: -2.5em;
}

.socials .icons .inner {
  color: var(--c4);
}

.socials .icons i:hover {
  color: var(--c5);
  transition: all 0.5s ease-out;
}

.socials .icons .outer {
  color: var(--c1);
  /*-webkit-text-fill-color: white;  Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--c4);
}

.socials .icons span {
  padding-left: 3vw;
  padding-right: 3vw;
}

.p5wrapper {
  position: absolute;
  z-index: -1;
}
.fa-stack {
  font-size: 2em;
}

/* Small Screens */
@media screen and (max-width: 500px) {
  .home-content {
    width: 80vw;
    padding: 1em;
    margin-right: 0;
  }
}

/* Medium Screens */
@media screen and (max-width: 768px) {
}

/* Large Screens */
@media screen and (min-width: 769px) and (max-width: 1170px) {
}

/* XLarge Screens */
@media screen and (min-width: 1171px) {
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
